@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  line-height: 1.6;
  /* color: #333; */
  color: black;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  /* height: 100%; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  opacity: 0.8;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0 2rem;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: white;
  padding: 1rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  border-bottom: 2px solid #28a745;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 900;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 1.5rem;
}

.hero .content h1 {
  font-size: 3.5rem;
}

.hero .content p {
  font-size: 1.5rem;
  max-width: 70%;
  margin: 1.5rem 0 2rem;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 0.5rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: white;
}

.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: white;
}

.btn-dark,
.bg-dark {
  background: black;
  color: white;
}

.btn-light,
.bg-light {
  background: #f4f4f4;
  color: black;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}

.flex-columns h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

.flex-columns h4 {
  margin-bottom: 0.5rem;
}

.flex-columns p {
  margin: 1.25rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 25vh;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  cursor: pointer;
  margin: 0 0.5rem;
}
