.hero {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
  position: relative;
  color: white;
}

.blog-post {
  padding: 2rem;
}

.blog-post h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.post-description {
  margin: 1rem 0;
}

.post-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-image img {
  max-width: 50%;
  max-height: 50%;
}
